html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-family: sans-serif;
    background-image: url(../images/Sky-Stars-Pattern-0.jpg);
}

#formularioSeguro {
    background-color: #00A4DE;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;

}
.divPadre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62vh;
    width: 30%;
    
    background-color: #00A4DE;
    border-radius: 5px;
    box-shadow: rgba(0,129, 207, 0.4) 5px 5px, rgba(0,129, 207, 0.3) 10px 10px, rgba(0,129, 207, 0.2) 15px 15px, rgba(0,129, 207, 0.1) 20px 20px, rgba(0,129, 207, 0.05) 25px 25px;
    text-align: center;

}


label p{
    text-align: center;
    margin: 0;
    padding-bottom: 2px;
    font-weight: bold;
    
    
}

label {
    padding-bottom: 5px;
    
}

.seleccionForm {
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#age {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#compare {
    width: 19px;
    height: 19px;
    cursor: pointer;
    margin-top: 10px;
}

.radioBoton {
    cursor: pointer;
        
}
.headerPrincipal {
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: #0081cf 2px 2px 4px;
    margin-top: 5rem;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.233);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}



.headerPrincipal:hover {
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.192);
    color: #00A4DE;

}

button {
    cursor: pointer;
    width: 15vh;
    height: 4vh;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

button:hover {
    box-shadow: inset 0 0 0 50px black;
    color: white;
    
}

#borrarSessionStorage {
    margin-top: 4vh;
    font-size: 20px;
    color: black;
}

#borrarSessionStorage:hover {
    color: white;
    
    transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -ms-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
}

.site-footer {
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: #0081cf 2px 2px 4px;
    margin-top: 3rem;

}


#botonGitHub {
    color: white;
    text-decoration: none;
}
.fa-github:before {
    margin-left: 5px;
}

#botonGitHub:hover {

    color: #00A4DE;
    transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -ms-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
}